{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost;Database=SkillHubDb;Trusted_Connection=True;"
    },
  "Jwt": {
    "Key": "",
    "DurationInMinutes": 60
  }
}
